/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
 html {
    box-sizing: border-box;
    margin: 10px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    font-size: 20px;
  
  }
  
  article {
  
  }
  
  h1 {
  font-size: x-large;
  }
  
  h2 {
  
  }
  
  img {
      max-width: 100%;
  }
  
  main {
  
  }
  
  section {
  
  }
  
  figure {
      margin: 50px;
  }
  
  figcaption {
    font-size: .8em;
  }

  @media screen and (min-width:800px) { 
      * {      
        background-color: aliceblue ;
        font-size:25px ;
        margin: 18px;
      }
      
      section {
          display: flex;
          flex-wrap: wrap;

      }
  }

  @media screen and (min-width:1300px) {
      *{
          background-color: aquamarine;
          font-size: 28px;
          margin: 20px;
          max-width: 100%;
      }
      
  }